/* FUENTES */

$fuente_principal: Arial,
Helvetica,
sans-serif;

/* MEDIA QUERYS */

$iphone: 320px;
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px; //YA CASI NADIE TIENE PANTALLAS DE 1024PX SINO DE 1200PX

/* COLORES */

$color_primario: #e50914;
$color_secundario: #ec8703;
$color_gris_oscuro: #323232;
$color_gris_medio: #454545;
$color_gris_claro: #8c8c8c;
$color_blanco: #ffffff;
$color_negro: #000000;

/* RADIUS */

$radius: 5px;